<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Book view</title></head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<body>
<div class="text-center" style="margin: 50px">
    <h1 th:text="${book.getName()}"></h1>
    <p th:text="'Author: ' + ${book.getAuthor()}"></p>
    <p th:text="'ISBN: ' + ${book.getIsbn()}"></p>
    <form sec:authorize="isAuthenticated()" th:action="${wishlistAdded} ? '/wishlist/remove' : '/wishlist/add'" method="post">
        <input type="hidden" name="id" th:value="${book.getId()}"/>
        <button type="submit" th:text="${wishlistAdded} ? 'Remove from Wishlist' : 'Add to Wishlist'" class="btn btn-primary"></button>
    </form>
</div>
</body>
<style>

</style>
</html>
